<div class="hero">
  <div class="hero-content text-center text-white">
    <h1 class="display-4 fw-bold">Flying Wheels</h1>
    <p class="lead">Your personal garage with the cars of your dreams</p>
    <%= link_to "Enter Showroom", cars_path, class: "btn btn-showroom mt-3" %>
  </div>
</div>
